/* * * * * * * * * * * * * * * * * * * * * * * *
html elements
* * * * * * * * * * * * * * * * * * * * * * * */
* {
	transition: all .3s ease-out;
}
body {
	font-family: "Open Sans", sans-serif;
	margin: 0;
	color: #666;
}
header {
	position: fixed;
	width: 100%;
	background-color: #fff;
	padding: 20px 0 2px 0;
	text-align: center;
	margin: 0;
}
#container {
	text-align: center;
	padding: 200px 25px 50px;
	/*transform: rotate(270deg);*/
}
h1, h2 {
	margin: 0;
}
h1 {
	font-size: 30px;
	color: #000;
}
h2 {
	font-size: 16px;
	color: #666;
}
h3, p {
	display: block;
	font-weight: normal;
	text-align: left;
	width: 700px;
	margin: 30px auto 10px;
	color: inherit;
}
p {
	margin: 0 auto;
}
a {
	color: inherit;
}
a:hover {
	color: #D4AF37;
}
footer {
	margin-top: 150px;
	padding: 50px 0 50px;
	background-color: #666;
	color: #fff;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
generic svg elements
* * * * * * * * * * * * * * * * * * * * * * * */
text {
	fill: #666;
	pointer-events: none;
}
circle {
	fill: #666;
	opacity: 0.8;
}

/* * * * * * * * * * * * * * * * * * * * * * * *
specific svg elements
* * * * * * * * * * * * * * * * * * * * * * * */
.home {
	fill: #D4AF37;
	stroke: #333;
	stroke-width: 2;
}
.barBackground, .totalPieBackground {
	fill: #666;
}
.barForeground, .totalPieForeground {
	fill: #D4AF37;
}
.countryName {
	font-size: 18;
	font-weight: bold;
	fill: #000;
}
.hoverer rect {
	fill: #fff;
	opacity: 0.0;
}
.hoverer text {
	fill: black;
	opacity: 1.0;
	font-weight: bold;
	opacity: 0.0;
}
.hoverer.fadeMe.on rect {
	opacity: 0.5;
}
.hoverer.fadeMe.on text {
	opacity: 1.0;
}
.countryName.on, .yearText.on {
	fill: #D4AF37;
	font-size: 20px;
}
